<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TransGlobalExpress</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets_index/img/logo.png" rel="icon">
  <!-- <link href="assets_index/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets_index/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets_index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets_index/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets_index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets_index/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets_index/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets_index/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Groovin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"><img src="assets_index/img/logo.png" alt="logo"></a></h1>
      <div class="container">
        <p class="small text-white text-left" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Rápido, seguro y siempre en movimiento por Cusco</p>
    </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets_index/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Buses</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/register">Registrarse</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets_index/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Explora Cusco a Tu Manera</h2>
                <p class="animate__animated animate__fadeInUp">Descubre la belleza y encanto de Cusco en nuestros viajes provinciales. Te llevamos a lugares icónicos y escondidos, brindándote una experiencia única en cada trayecto.</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer Más</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets_index/img/slide/slide-2.webp);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Viaja con Confianza y Comodidad</h2>
                <p class="animate__animated animate__fadeInUp">Disfruta de cada kilómetro en nuestros modernos autobuses, diseñados para tu seguridad y comodidad. Nuestro equipo de conductores expertos te llevará a tu destino de manera puntual y segura.</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer Más</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets_index/img/slide/slide-3.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Cusco en Cada Parada</h2>
                <p class="animate__animated animate__fadeInUp">No solo llegamos a tu destino, te conectamos con la esencia de Cusco en cada parada. Nuestros viajes te permiten sumergirte en la cultura y las maravillas de la provincia, haciendo de cada viaje una experiencia enriquecedora.</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer Más</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>TransGlobalExpress</h3>
              <p>
                TransGlobalExpress es la elección principal para soluciones de transporte provincial de calidad en Cusco. Nuestro compromiso con la excelencia, la seguridad y la satisfacción del cliente nos distingue como líderes en la industria. Explora Cusco con confianza a través de nuestros servicios de transporte de primer nivel.
              </p>
              <div class="row">
                <div class="col-md-6 icon-box">
                  <i class="bx bx-alarm"></i>
                  <h4>Eficiencia Ejemplar</h4>
                  <p>Nuestra operación está respaldada por sistemas eficientes que garantizan entregas puntuales y sin problemas en cada trayecto.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-bus"></i>
                  <h4>Flota Moderna</h4>
                  <p>Contamos con una flota de vehículos de última generación, mantenidos en condiciones óptimas para brindar un viaje de lujo.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-spa"></i>
                  <h4>Compromiso Ambiental</h4>
                  <p>Nos preocupamos por el medio ambiente. Nuestra flota cumple con los estándares más estrictos de emisiones y sostenibilidad.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-user"></i>
                  <h4>Experiencia Personalizada</h4>
                  <p>Cada cliente es único. Nuestro enfoque personalizado garantiza que tus necesidades específicas se cumplan en cada viaje.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="2532" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Clientes Felices</strong> nos respaldan</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-sign-merge-right"></i>
              <span data-purecounter-start="0" data-purecounter-end="115" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Viajes</strong> seguros y sin ningun problema</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-trophy"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Reconocimientos</strong> como la mejor empresa</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-house-door"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Sucursales</strong> en todo Cusco</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets_index/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Servicios</h2>    
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-map"></i></div>
            <h4 class="title"><a href="">Viaja por Cusco</a></h4>
            <p class="description">Explora la diversidad del Cusco en sus múltiples provincias con viajes emocionantes y experiencias únicas en cada destino</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Rutas Personalizadas</a></h4>
            <p class="description">Diseñamos rutas a medida para atender tus necesidades específicas y brindarte la mejor experiencia de viaje.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title"><a href="">Asistencia Bilingüe</a></h4>
            <p class="description">Nuestro equipo multilingüe está listo para ayudarte en cada etapa del viaje, brindándote una comunicación fluida.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="">Monitoreo en Tiempo Real</a></h4>
            <p class="description">Mantén un seguimiento constante de tu viaje a través de nuestro sistema de monitoreo en línea.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Viajes Corporativos</a></h4>
            <p class="description">Ofrecemos soluciones de transporte especializadas para empresas, garantizando eficiencia y comodidad para tus empleados.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-globe-americas"></i></div>
            <h4 class="title"><a href="">Experiencias Culturales</a></h4>
            <p class="description">Más que un viaje, te conectamos con la cultura local a través de excursiones y actividades en cada parada.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Buses</h2>
          <p>Presentamos nuestra moderna flota de autobuses, diseñada para ofrecerte comodidad, seguridad y estilo en cada viaje.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Nuevos</li>
              <li data-filter=".filter-card">Antiguos</li>
              <li data-filter=".filter-web">Regulares</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 1</h4>
                <p>Mercedes-Benz</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>            
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 2</h4>
                <p>Volvo</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 3</h4>
                <p>Scania</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>              
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 4</h4>
                <p>Isuzu</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 5</h4>
                <p>Iveco</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets_index/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bus 6</h4>
                <p>MAN</p>
                <div class="portfolio-links">
                  <a href="assets_index/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>                  
                </div>
              </div>
            </div>
          </div>        
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Preguntas Frecuentes</h2>          
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">¿Cuáles son los destinos principales que cubren sus servicios de transporte provincial en Cusco? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Nuestra red de servicios de transporte provincial abarca una amplia gama de destinos en Cusco, incluyendo provincias emblemáticas como Urubamba, Anta, Calca, y muchas más. Te llevamos a través de rutas pintorescas y emocionantes para que puedas explorar la diversidad de esta región.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">¿Qué medidas de seguridad implementan en sus autobuses para garantizar la tranquilidad de los pasajeros? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  La seguridad de nuestros pasajeros es nuestra prioridad. Nuestra flota de autobuses está equipada con sistemas de seguridad avanzados, conductores altamente capacitados y mantenimiento regular para garantizar un viaje seguro y cómodo. Además, seguimos estrictos protocolos de seguridad y cumplimos con las regulaciones locales.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">¿Cómo puedo reservar un asiento en uno de sus autobuses y cuál es el proceso de compra de boletos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Reservar tu asiento es fácil. Puedes hacerlo a través de nuestro sitio web, donde encontrarás un sistema de reserva en línea intuitivo. Simplemente selecciona tu destino, elige la fecha y hora de tu preferencia, y sigue los pasos para completar la compra de tus boletos. También puedes visitar nuestras oficinas para adquirir tus boletos en persona.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">¿Ofrecen servicios especiales para personas con movilidad reducida o necesidades particulares? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Sí, estamos comprometidos en brindar servicios accesibles para todos. Si tienes necesidades especiales, como movilidad reducida, te recomendamos contactarnos con anticipación para que podamos hacer los arreglos necesarios y asegurarnos de que tu experiencia de viaje sea cómoda y sin contratiempos.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">¿Cuál es su política de cancelación y reembolso en caso de cambios en mis planes de viaje? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Entendemos que los planes pueden cambiar. Nuestra política de cancelación y reembolso varía según el tipo de boleto y las circunstancias. Te invitamos a revisar los detalles específicos en nuestra sección de Términos y Condiciones en nuestro sitio web o ponerte en contacto con nuestro equipo de atención al cliente, quienes estarán encantados de ayudarte con cualquier consulta relacionada con cambios en tus planes de viaje.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contáctanos</h2>
          <p>Si necesitas más información, tienes alguna consulta o deseas compartir tus comentarios, no dudes en ponerte en contacto con nuestro equipo. Estamos aquí para ayudarte y brindarte el mejor servicio posible.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Dirección</h3>
              <address>Av. Collasuyo 123, Cusco, Perú</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+51967778310">+51 123456789</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Correo Electrónico</h3>
              <p><a href="mailto:info@transglobalexpress.com">info@transglobalexpress.com</a></p>
            </div>
          </div>

        </div>

        
          <form id="formulario" method="post">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo Electrónico">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" >
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje" ></textarea>
            </div>
            <br>
            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
          </form>
        
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="assets_index/img/logo.png" alt="logo" width="120px">
              <p>
                Av. Collasuyo 123 <br>
                Cusco, Perú<br><br>
                <strong>+51 123456789</strong><br>
                <strong>info@transglobalexpress.com</strong><br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces importantes</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Servicios</a></li>              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>&nbsp;</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Términos de servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidad</a></li>
            </ul>
          </div>          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2023 <strong><span>TransGlobalExpress</span></strong> S.A.
      </div>      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets_index/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets_index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets_index/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets_index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets_index/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets_index/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets_index/js/main.js"></script>
  <script src="javascripts/contact.js"></script>

</body>

</html>