<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reserva</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets_user/img/favicon.png" rel="icon">
  <link href="assets_user/img/apple-touch-icon.png" rel="app  le-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets_user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets_user/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets_user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets_user/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets_user/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets_user/css/style.css" rel="stylesheet">
  <link href="assets_user/css/progress.css" rel="stylesheet">

  <!-- Java query-->
  <script src="javascripts/jquery/jquery.min.js"></script>
  <script src="javascripts/jquery/jquery-ui.min.js"></script>
  
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="assets_user/img/logo.png" alt="">
        <span class="d-none d-lg-block">TransGlobalExpress</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">                 

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile_historial">
          <i class="bi bi-journal-text"></i>
          <span>Historial</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-calendar3-event"></i>
          <span>Reservar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/comprar_client">
          <i class="bi bi-cash-stack"></i>
          <span>Comprar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Salir</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    
                    

                    

                                                                    
                                
                    <form id="form">
                        <ul id="progressbar">
                            <li class="active" id="step1">
                                <strong>Escoger Ruta</strong>
                            </li>
                            <li id="step2"><strong>Escoger Bus</strong></li>
                            <li id="step3"><strong>Escoger Fecha</strong></li>
                            <li id="step4"><strong>Escoger Asiento</strong></li>
                        </ul>

                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div> <br>

                        <fieldset id="step1"> <!-- Use unique ID for each fieldset -->

                            <h2>Seleccione el origen y destino de su viaje</h2> <br>

                            <div class="form-inline inline-form">
                                <div class="form-group">
                                    <label for="from">Origen</label>
                                    <select class="form-control from " name="from" >     
                                        
                                        <% for(i=0; i < rutas.length; i++){ %>
                                        <option><%=rutas[i].Origen %></option>
                                        <% } %>

                                    </select>
        
                                </div>

                                <div class="form-group">
                                    <label for="to">Destino</label>
                                    <select class="form-control to " name="to" >                                        
                                        
                                        <% for(i=0; i < rutas2.length; i++){ %>
                                        <option><%=rutas2[i].Destino %></option>
                                        <% } %>

                                    </select>
        
                                </div>
                            </div>
                                                                                                                
                            <input type="button" name="next-step" class="next-step" value="Siguiente" />
                        </fieldset>


                        <fieldset id="step2"> <!-- Use unique ID for each fieldset -->
                            <h2>Seleccione un Bus</h2>
                            
                            
                            <div class="row justify-content-between">
                                <div class="col-lg-5">
                                    <div class="form-inline inline-form d-flex justify-content-center" >
                                        <div class="form-group">
                                            <label for="bus-option">Bus</label>
                                            <select class="form-control bus-option " name="bus-option" >     

                                            </select>
                                    
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Descripci칩n del Bus</h5>
                                            <h5 class="card-title" style="text-align: left;">IdBus: <span class="IdBus-des" style="font-size: 16px;"></span></h5>
                                            <h5 class="card-title" style="text-align: left;">Capacidad: <span class="Capacidad-des" style="font-size: 16px;"></span></h5>
                                            <h5 class="card-title" style="text-align: left;">Modelo: <span class="Modelo-des" style="font-size: 16px;"></span></h5>                                            
                                            <h5 class="card-title" style="text-align: left;">Precio: <span class="Precio-des" style="font-size: 16px;"></span></h5>
                                            
                                            <!-- Otro contenido de la tarjeta -->
                                        </div>
                                        <img src="assets_index\img\portfolio\portfolio-1.jpg" class="card-img-bottom" alt="...">
                                    </div>
                                    
                                      
                                </div>
                                
                            </div>

                            <input type="button" name="next-step" class="next-step" value="Siguiente" />
                            <input type="button" name="previous-step" class="previous-step" value="Atr치s" />
                        </fieldset>


                        <fieldset id="step3"> <!-- Use unique ID for each fieldset -->
                            <h2>Seleccione una Fecha</h2>

                            <div class="row justify-content-between">
                                <div class="col-lg-5">
                                    <div class="form-inline inline-form d-flex justify-content-center" >
                                        <div class="form-group">
                                            <div class="mb-3">
                                                <label for="Fecha" class="col-form-label">Fecha:</label>
                                                <input name = "Fecha" type="date" class="input-date-reserva" id="Fecha" required>
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Horarios del Bus:</h5>
                                            <ul id="list-horarios">
                                            </ul>
                                            
                                            <!-- Otro contenido de la tarjeta -->
                                        </div>
                                        <img src="assets_index\img\portfolio\portfolio-1.jpg" class="card-img-bottom" alt="...">
                                    </div>
                                    
                                      
                                </div>
                                
                            </div>

                            <input type="button" name="next-step" class="next-step" value="Siguiente" />
                            <input type="button" name="previous-step" class="previous-step" value="Atr치s" />
                        </fieldset>


                        <fieldset>
                            <div class="finish">
                                <h2 class="text text-center">
                                    <strong>Seleccione un Asiento</strong>
                                </h2>

                                
                                <div class="form-inline inline-form">
                                    <div class="form-group">
                                        <label for="asientos-disp">Asientos Disponibles:</label>
                                        <select class="form-control asientos-disp " name="asientos-disp" >                                                                                                 
                                        </select>
            
                                    </div>
    
                                    <div class="form-group">
                                        <label for="asientos-ocup">Asientos Ocupados:</label>
                                        <select class="form-control asientos-ocup " name="asientos-ocup" >                                                                                                                                    
                                        </select>
            
                                    </div>
                                </div>

                            </div>
                            <input type="button" name="btn-reservar" class="btn-reservar" value="Reservar" />
                            <input type="button" name="previous-step" class="previous-step" value="Atr치s" />
                        </fieldset>

                    </form>
                    
                                
                           

                            

                        </div>                         
                    </div>
                </div>
            </div>
        </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="assets_user/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets_user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets_user/vendor/chart.js/chart.umd.js"></script>
  <script src="assets_user/vendor/echarts/echarts.min.js"></script>
  <script src="assets_user/vendor/quill/quill.min.js"></script>
  <script src="assets_user/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets_user/vendor/tinymce/tinymce.min.js"></script>
  <!-- <script src="javascripts/control_reserva.js"></script> -->
  <script src="javascripts/progress.js"></script>

</body>

</html>